<div class="col">
    <div class="profile-card-4 text-center">
        <img src="https://i.pinimg.com/originals/2f/a6/fa/2fa6fa2b399f3d85d8f403d4ac5ec666.png" width="50%" class="img img-responsive">
        <div class="profile-content">
            <div class="profile-name">Pikachu
                <p>Fuego</p>
            </div>
            <div class="profile-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus nemo non delectus provident debitis. Nesciunt quis laudantium impedit reprehenderit. Dolore iure quod eum accusantium, sapiente id error adipisci voluptatem velit?Lorem ipsum dolor
                sit amet consectetur, adipisicing elit. Possimus a suscipit, quidem maxime dignissimos, nulla molestias quibusdam labore obcaecati placeat accusamus dolores? Qui, quisquam quidem repudiandae odit soluta neque? Debitis!lo Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quibusdam officia nesciunt illo voluptates quod nisi vitae qui quo ullam vel neque mollitia, quae repellendus, aspernatur, possimus sed officiis quia cumque.
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="profile-overview">
                        <p>PODER: 500</p>
                        <mat-slider min="0" max="1300" step="0.5" value="500"></mat-slider>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="profile-overview">
                        <p>DEBILIDAD: 500</p>
                        <mat-slider min="0" max="1300" step="0.5" value="500"></mat-slider>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="profile-overview">
                        <p>IMPACTO: 500</p>
                        <mat-slider min="0" max="1300" step="0.5" value="500"></mat-slider>
                    </div>
                </div>

                <div class="example-button-row">
                    <div class="example-flex-container">
                        <div class="example-button-container">
                            <a href="../catalogo" mat-fab color="warn" aria-label="Example icon button with a home icon">
                                <mat-icon>home</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>