<div class="col">
    <div class="profile-card-4 text-center">
        <img src="{{imgPokemon(datallePokemon.id)}}" width="50%" class="img img-responsive">
        <div class="profile-content">
            <div class="profile-name">{{datallePokemon.name | uppercase}}
            </div>
            <div class="profile-description">
                {{datallePokemon.effect_entries[0].effect}}
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="profile-overview">
                        <p>PODER: 500</p>
                        <mat-slider min="0" max="1300" step="0.5" value="500"></mat-slider>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="profile-overview">
                        <p>DEBILIDAD: 500</p>
                        <mat-slider min="0" max="1300" step="0.5" value="500"></mat-slider>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="profile-overview">
                        <p>IMPACTO: 500</p>
                        <mat-slider min="0" max="1300" step="0.5" value="500"></mat-slider>
                    </div>
                </div>

                <div class="example-button-row">
                    <div class="example-flex-container">
                        <div class="example-button-container">
                            <a href="../catalogo" mat-fab color="warn" aria-label="Example icon button with a home icon">
                                <mat-icon>home</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
