<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Daniel de Jesús de Jesús</mat-card-title>
        <mat-card-subtitle>Desarrollador Web | dragneel.960229@gmail.com | 5562258310</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3 class="bg-dark m-0 text-white text-center"><strong>SOBRE MI</strong></h3>
        <p>
            Alumno de Tecnologías y Sistemas de la Información, de la Universidad Autónoma Metropolitana - Cuajimalpa. Desarrollador con al menos año y medio de experiencia generando código para microempresas. Cree un API para timbrado masivos contemplado las reglas
            del SAT, del mismo modo que mi tesis está enfocada en un sistema web propedéutico basado en lecciones intuitivas realizadas en una investigación de campo.
        </p>
        <h3 class="bg-dark m-0 text-white text-center"><strong>EXPERIENCIA PROFESIONAL</strong></h3>
        <h4 class=" m-0 text-center"><strong>Desarrollador Full Stack | Freelance, CDMX</strong></h4>
        <p>
            Febr. 2019 - Presente <br> He realizado al menos 10 proyectos de los cuales destacan: <br>
            <strong>Sistema de facturación masiva (10/2020)</strong> <br> Se analizo el modelo de negocio de una empresa de aseguradora, de modo que, el sistema fuera capaz de timbrar de manera masiva sus facturas, utilizando una base de datos en Oracle,
            asimismo, toda la arquitectura de negocio fue realizada en C# utilizando métodos asíncronos con la finalidad de que fuese distribuido, cabe mencionar que el sistema aproximadamente se demora en timbrar 5000 facturas en menos de 5 minutos.
            <br>
            <strong>GesContrato (6/2020)</strong> <br> Se creo una plataforma web, encargada para gestionar contratos de la constructora ICA, el cual se encarga de notificar el vencimiento de los contratos, asimismo se incorporó un algoritmo basado en
            caso, el cual se encarga de comparar los problemas de los contratos con el fin de prevenir los siniestros, fue realizado en capas como lo es el de datos, utilerías, negocio y web (MVC), incorporando métodos asíncronos para ser distribuido.
            <br>
            <strong>Control de Ventas e Inventarios (3/2020)</strong> <br> Es un completo sistema web empresarial para la administración y gestión de inventario (stock), compras, ventas, clientes, proveedores, y gestión de usuarios (alta, baja, eliminar,
            modificar).

            <h4 class=" m-0 text-center"><strong>Analista de Sistemas| Monitorista – CDMX, Coyuya.</strong></h4>
            <p>
                <strong> Analista de Sistemas – Grupo Diniz</strong> - Encargado de realizar soporte técnico (mantenimiento preventivo de equipos de cómputo, soporte de operación) en las oficinas de Recorcholis y a su vez en las 44 sucursales de la misma
                familia, implementación de servidores (Windows y Linux) para el control de la base de datos, configuración de correos electrónicos, instalación de software.
                <br>
                <strong>Monitorista  – Grupo Diniz</strong> - Encargado de dirigir, desarrollar acciones de monitoreo y evaluación, en coordinación con miembros del área de contraloría para el cumplimiento y medición. Recolectar y analizar datos para
                generar informes en relación a resultados y aprendizaje.
            </p>

            <h3 class="bg-dark m-0 text-white text-center"><strong>FORMACIÓN ACADEMICA</strong></h3>
            <h4 class=" m-0 text-center"><strong>Universidad Autónoma Metropolitana - Cuajimalpa</strong></h4>
            <p>2015 – Presente (Abr. 2021) - <strong>Licenciatura en Tecnologías y Sistemas de la Información</strong>, Gestión de Proyectos y Pensamiento Estratégico</p>

            <h4 class=" m-0 text-center"><strong>Colegio de Bachilleres Plantel 23 (Estado de Guerrero, Suljaa’)</strong></h4>
            <p>2011 - 2014 - <strong>Técnico en Informatica</strong></p>
    </mat-card-content>
    <mat-card-actions>
        <h3 class="bg-dark m-0 text-white text-center"><strong>HABILIDADES</strong></h3>
        <button mat-button>Web (HTML, CSS, JS)</button>
        <button mat-button>Angular</button>
        <button mat-button>BD(SQL Server, MySQL</button>
        <button mat-button>GIT (GitLab y Git Hub)</button>
        <button mat-button>UI | UX</button>
        <button mat-button>C#, .NET, .NET Core y ,Net 5</button>
        <button mat-button>Visual Studio, Postman.</button>
        <button mat-button>SCRUM</button>
        <button mat-button>Trabajo en equipo</button>
        <button mat-button>Capacidad de Adaptación</button>
        <button mat-button>Organizado</button>
        <button mat-button>Comunicativo</button>
        <button mat-button>Liderazgo</button>
        <h3 class="bg-dark m-0 text-white text-center"><strong>IDIOMAS</strong></h3>
        <button mat-button>Inglés: Nivel A1</button>
        <button mat-button>Español: Nativo</button>

    </mat-card-actions>
</mat-card>